@import "./components/Movie";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.App {
  text-align: center;
  font-family: $bodyFont;
}

header {
  margin-bottom: 1rem;
  @media screen and (min-width: $tabletWidth) {
    margin-bottom: 2rem;
  }
  h1 {
    font-family: $titleFont;
    font-size: 2rem;
    @media screen and (min-width: $tabletWidth) {
      font-size: 2.5rem;
    }
  }

  select {
    font-family: $bodyFont;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: none;
    outline: none;
    background: $tertiaryColor;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
}

.movie-list {
  display: grid;
  place-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 80%;
  margin: auto;
  text-align: center;
  @media screen and (min-width: $tabletWidth) {
    width: 75%;
  }
}

.prev-page-btn,
.next-page-btn {
  border: none;
  outline: none;
  padding: 1rem;
  margin: 1rem;
  width: 150px;
  border-radius: 15px;
  color: $btnFontColor;
  background-color: $primaryBlack;
  font-family: $bodyFont;
  font-weight: bold;
  cursor: pointer;
}

.sort-and-search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  margin: auto;
  form {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
  }
  input {
    border-radius: 15px;
    width: 150px;
    padding: 0.5rem;
    outline: none;
    border: 1px solid gainsboro;
    font-family: $bodyFont;
    @media screen and (min-width: $tabletWidth) {
      width: unset;
    }
  }
  button {
    font-family: $bodyFont;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: none;
    outline: none;
    background: $tertiaryColor;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 0.5rem;
  }
}
