@import "./components/Movie";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.App {
  text-align: center;
}

header h1 {
  font-family: "Lora", serif;
}

.movie-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 75%;
  margin: auto;
}

.prev-page-btn {
  border: none;
  outline: none;
  padding: 1rem;
  margin: 1rem;
  width: 150px;
  border-radius: 15px;
  color: whitesmoke;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.next-page-btn {
  border: none;
  outline: none;
  padding: 1rem;
  margin: 1rem;
  width: 150px;
  border-radius: 15px;
  color: whitesmoke;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
}
